/* Assicurati che questo import sia anche in styles.css per sicurezza */
@import "https://js.arcgis.com/5.0/@arcgis/core/assets/esri/themes/light/main.css";


/* Nascondiamo i widget ingombranti su mobile per pulire la visuale */
@media (max-width: 768px) {

    :host ::ng-deep .esri-ui-top-left,
    :host ::ng-deep .esri-ui-bottom-right {
        display: none !important;
    }

    /* Arrotondamento della card meno estremo su schermi piccoli */
    .rounded-none {
        border-radius: 0 !important;
    }
}

/* Custom scrollbar per non rovinare il design glassmorphic */
.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#mapViewNode {
    outline: none !important;
}

.animate-in {
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}