@import "https://js.arcgis.com/5.0/esri/themes/light/main.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
    height: auto;
}

.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis-stopped {
    overflow: hidden;
}

.lenis-scrolling iframe {
    pointer-events: none;
}